

:root {
  --clr-accent-300: hsl(250, 75%, 98%);
  --clr-accent-200: hsl(243, 87%, 12%);
  --clr-accent-100: hsl(238, 22%, 44%);


  --clr-primary-400: hsl(224, 93%, 58%);
  --clr-primary-300: hsl(170, 45%, 43%);

  --clr-neutral-600: hsl(0, 0%, 75%);
  --clr-neutral-500: hsl(240, 75%, 98%);

  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;

  --ff-prim-header: var(--ff-primary);
  --ff-sec-header: var(--ff-secondary);
  --ff-body: var(--ff-primary);

  --fw-bold: 700;
  --fw-regular: 400;

  --fs-300: 0.8rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1.2rem;
  --fs-620: 1.35rem;
  --fs-650: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-300);
  --fs-primary-heading: var(--fs-400);
  --fs-secondary-heading: var(--fs-300);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  /* padding-block: var(--size-900);
  padding-block: var(--size-700); */
}


/* CSS Resets */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ol,ul {
  list-style-type: none ; 
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*::marker {
  display: none;
}

.even-columns {
  display: grid;
  gap: 3.4rem;
}

@media (min-width: 47em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
  }
}

/* header*/
header svg {
  width: min(140px,22vw); 
  height: max(46px, 5vh);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-100), 5vw, var(--size-700));
  font-size: var(--fs-nav);
  flex-wrap: nowrap;
}

.nav-list li {
  word-wrap: normal;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-accent-200);
}

/* secondary-heading */
h2 a {
  color: var(--clr-primary-300);
}


/* link  */
@media(max-width:47em) {
  .t-d-wrapper {
    justify-content: center;
    margin-block-end: 1.4rem;
  }
}

.t-d-wrapper {
  display: flex;
}

.t-d {
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid var(--clr-primary-300); 
  padding-bottom: 0.2rem;
  width: fit-content;
}

.t-d:hover {
  border-bottom: 1.5px solid hsl(180, 72%, 59%);
}

.t-d span {
  text-decoration: underline;
}

.t-d a {
  color: var(--clr-primary-300);
  text-decoration: none;
}

.t-d a:hover {
  color: hsl(180, 72%, 59%);
}

.t-d p {
  display: inline;
}

.t-d img {
  display: inline;
  padding: 0.2rem;
}


/* testimonial */
.testimonial-cont  {
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.3rem hsl(252, 20%, 95%); 
  padding: var(--size-500);
  margin-block-end: 1rem;
  max-width: 20rem;
}


.testimonial-cont p {
  line-height: 1.7;
  max-width: 20.2rem;
  min-width: 15rem;
  display: inline;
}

.testimonial-profile-cont {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: var(--size-500);
}

.testimonial-profile-img img  {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial-profile-info p{
  line-height: 1.3;
}

@media(max-width: 47em) {
  .testimonial-cont {
    justify-content: center;
    margin-inline: auto;
  }
}

/* background-image */
@media(min-width:23.4376em) {
  .s-img {
    position: relative;
    z-index: 100;
  }
  .s-img-1 {
    display: none;
  }
}

@media(max-width:23.4375em) {
  .s-img-1 {
    display: none;
    position: relative;
    z-index: 100;
  }
}

.s-2 {
  background-color: var(--clr-accent-300);
}


/* cta */

  .cta {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-500); 
    margin-inline: auto;
    isolation: isolate;
  }

  .cta-input {
    justify-self: end;
    /* width: 25rem; */
  }

  .cta-input input {
    display: block;
    margin-bottom: 0.5rem;
    width: 33vw;
    padding-left: 1rem;
    outline: none;

    height: 2.7rem;

  }

  .cta button {
    width: min(12rem,18vw);
    height:2.7rem;
    background-color: var(--clr-primary-400);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding-inline: 1rem;
    cursor: pointer;
  }

  .cta-info {
    max-width: 31rem;
  }

  .cta-info h3 {
    font-size: var(--fs-650);
  }

@media(max-width: 47em) {
  .cta {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-500); 
    margin-inline: auto;
    text-align: center;
  }

  .cta-input {
    justify-self: end;
    margin-inline: auto;
    justify-content: end;
  }

  .cta-input input {
    display: block;
    margin-bottom: 0.5rem;
    width: min(19rem, 65vw);
    padding-left: 1rem;
    outline: none;

    height: 2.5rem;
  }

  .cta button {
    width: min(19rem, 65vw);
    height:2.5rem;
    background-color: var(--clr-primary-400);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.2rem;
  }

    .cta-info {
      max-width: 35rem;
    }

    .cta-info h3 {
      font-size: var(--fs-600);
    }
}



/* footer */
footer svg {
  width: max(140px,10vw); 
  height: 70px;
}

.footer-logo {
  margin-bottom: 0.9rem;
}

.footer-wrapper {
  background-color: var(--clr-accent-200);
  color: var(--clr-neutral-500);
}

.footer-wrapper img {
  display: inline;
}

.fa-email,
.fa-phone {
  margin-bottom: 1.3rem;
} 

.fa-email p,
.fa-phone p {
  display: inline;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-top: 2.6rem;
  margin-bottom: 4rem;
}

.footer-nav-list div{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.footer-nav-list a {
  text-decoration: none;
  color:  var(--clr-neutral-500);
}

.footer-nav-list a:hover {
  color: hsl(230, 45%, 37%);
}

.footer-social-list {
  --icon-color: var(--clr-accent-100);
  
  display: flex;
  gap: 0.9rem;
}

.footer-social-list div {
  outline: solid var(--clr-neutral-500);
  border-radius: 10%;
}

.footer-social-list div img {
  object-fit: contain;
  outline: solid var(--clr-neutral-500);
  fill: var(--clr-accent-100);
}

.footer-logo {
  --logo-color: var(--clr-neutral-500);
}

@media(min-width: 47em) {
  .footer {
    display: flex;
    gap: clamp(var(--size-200), 0rem, var(--size-700));
    justify-content: space-between;
  }

  .footer-social-list {
    align-content: center;
    position: relative;
    top: 40%;
  }

  .footer-nav-list {
    position: relative;
    top: 20%;
  }


  .footer-nav-list {
    columns: 2 ;
    gap: clamp(0.5rem, 15vw, 20rem);
    display: inline-block;
}
}

/* section-1 input/button */
.h-info {
  width: min(14.3rem,25vw);
  height: 2.68rem;
  margin-right: 0.68rem;
  margin-left: 0.08rem;
  outline: none;
  border: 0.001px solid;
  border-radius: 0.2rem; 
  padding-left: 1rem;
  background-color: hsl(0, 0%, 100%);

}


.h-button {
  width: 11vw;
  height: 2.7rem;
  height:2.7rem;
  background-color: var(--clr-primary-400);
  color: white;
  box-shadow: 0 0 0.5rem 0.3rem hsl(252, 20%, 95%); 
  outline: none;
  border-radius: 0.2rem; 
  border: 0;
  cursor: pointer;
}
 
@media(max-width:47em) {
  .h-input {
    display: grid;
    justify-content: center;
  }

  .h-info {
    display: block;
    margin-right: 0;
    width: min(23rem, 80vw);
    outline: none;
  }
  .h-button {
    margin-top: 1rem;
    width: min(23rem, 80vw)
  }
}

/* Utility Classes */

.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2.3));
    margin-inline: auto;
  }

@media(max-width:47em) {
  .flow {
    grid-template-areas: 
    "picture"
    "content";
  }
  .d-1 {
    grid-area: content;
  }
  .d-2 {
    grid-area: picture;
  }
}  

body{
  font-family: var(--ff-body);
  color: var(--clr-accent-200);
}


.bg-acc-200 {
  background-color: var(--clr-accent-200);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-primary-200 {
  background-color: var(--clr-primary-300);
}


.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-body{
  font-size: var(--fs-300);
  line-height: 1.4;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-620 {
  font-size: var(--fs-620);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-700-1 {
  font-size: var(--fs-700);
}


.ff-prim-header {
  font-family: var(--ff-prim-header);
}

.ff-sec-header {
  font-family: var(--ff-sec-header);
}

.ff-body {
  font-family: var(--ff-body);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-670 {
  padding-block-start: var(--size-600);
}
.padding-block-start-500 {
  padding-block-start: var(--fs-500);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

.padding-block-end-700 {
  padding-block-end: var(--size-800);
}

@media(max-width:47em) {
  .mx-auto {
    text-align: center;
  }

  .dx-auto {
    display: grid;
    justify-content: center;
    margin-inline-end: auto;
  }

  .ff-sec-header-1 {
    font-family: var(--ff-sec-header);
  }

  .fs-620 {
    font-size: 1rem;
  }
  .fs-700 {
    font-size: var(--fs-620);
  }
  .fs-test {
    font-size: 0.86rem;
  }

}

.mw-bs {
  max-width: 32rem;
}
.mw-bs-p {
  max-width: 25.3rem;
}
  
.padding-block-end-300 {
  padding-block-end: var(--size-300);
}

.padding-block-end-690 {
  padding-block-end: var(--size-600);
}



